<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Transaksi Pra Bayar</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-item>
      <ion-label position="fixed">No Handphone</ion-label>
      <ion-input [(ngModel)]="phoneNo"></ion-input>
      <ion-icon
        icon="search"
        slot="end"
        color="primary"
        (click)="enterPhoneNo()">
      </ion-icon>
    </ion-item>

    <ion-item *ngIf="category !== 'PULSE001' && category !== 'PAKETDATA001'">
      <ion-label position="fixed">Pilih Produk</ion-label>
      <ion-input [(ngModel)]="catName"></ion-input>
      <ion-icon
        icon="list"
        slot="end"
        color="primary"
        (click)="dummyTest()">
      </ion-icon>
    </ion-item>
  </div>

  <div>
    <ion-row>
      <ng-container *ngIf="showDataAfterModal">
        <ion-col size="6" class="ion-no-padding" *ngFor="let data of products">
          <ion-card (click)="presentToastWithOptions(data)" >
            <ion-row class="ion-padding ">
              <ion-col size="3" *ngIf="category !== 'EMONEY001'">
                <img src="./assets/imgs/telkomsel_logo.png" *ngIf="prefix === 'TELKOMSEL' || prefix === 'BYU'" alt="TELKOMSEL">
                <img src="./assets/imgs/xl_logo.png" *ngIf="prefix === 'XL'" alt="XL">
                <img src="./assets/imgs/indosat.png" *ngIf="prefix === 'INDOSAT'" alt="INDOSAT">
                <img src="./assets/imgs/axis_logo.png" *ngIf="prefix === 'AXIS'" alt="AXIS">
                <img src="./assets/imgs/three_logo.png" *ngIf="prefix === 'THREE'" alt="THREE">
                <img src="./assets/imgs/smartfren_logo.png" *ngIf="prefix === 'SMART'" alt="SMART">
              </ion-col>
              <ion-col size="3" *ngIf="category === 'EMONEY001'">
                <img src="./assets/imgs/wallet_isaku.png" *ngIf="data.brand === 'Isaku Indomaret'" alt="Isaku Indomaret">
                <img src="./assets/imgs/wallet_bukalapak.png" *ngIf="data.brand === 'Saldo Bukalapak'" alt="Saldo Bukalapak">
                <img src="./assets/imgs/wallet_dana.png" *ngIf="data.brand === 'DANA'" alt="Saldo DANA">
                <img src="./assets/imgs/wallet_gopay.png" *ngIf="data.brand === 'GO PAY' || data.brand === 'GO PAY Driver'" alt="Saldo Gojek">
                <img src="./assets/imgs/wallet_linkaja.png" *ngIf="data.brand === 'LinkAja'" alt="Saldo LinkAja">
                <img src="./assets/imgs/wallet_ovo.png" *ngIf="data.brand === 'OVO'" alt="Saldo OVO">
                <img src="./assets/imgs/wallet_shoppee.png" *ngIf="data.brand === 'SHOPEE PAY'" alt="Saldo Shopee">
                <img src="./assets/imgs/wallet_grab.png" *ngIf="data.brand === 'Saldo Grab'" alt="Saldo Grab">
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <h3> {{ data.name }} </h3>
                  <ion-text color="">
                    <p> {{ data.price }} </p>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>

</ion-content>
