<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Histori Transaksi</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="head-bg">
    <ng-template [ngIf]="trxData.status === '0'">
      <ion-avatar class="mt-25">
        <ion-icon name="checkmark-done-circle" class="trx-status"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Sukses</h2>
        <br />
        <h5>{{ trxData.created_at }}</h5>
      </div>
    </ng-template>

    <ng-template [ngIf]="trxData.status === '3' || trxData.status === '5'">
      <ion-avatar class="mt-25">
        <ion-icon name="hourglass" class="trx-status-waiting"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Pending</h2>
        <br />
        <h5>{{ trxData.created_at }}</h5>
      </div>
    </ng-template>

    <ng-template [ngIf]="trxData.status === '2'">
      <ion-avatar class="mt-25">
        <ion-icon name="close-circle" class="trx-status-fail"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Gagal</h2>
        <br />
        <h5>{{ trxData.created_at }}</h5>
      </div>
    </ng-template>
  </div>

  <div class="container">
    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="trxData.tx_id" label="TX ID"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="trxData.sn" label="S.N"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="trxData.product_name" label="Produk"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="trxData.bill_id" label="Bill ID"></ion-input>
    </ion-item>

    <ion-item *ngIf="trxData?.res_param">
      <ion-input class="ion-text-right" readonly [(ngModel)]="trxData.res_param?.detail?.cust_name || setUndefined" label="Nama Pelanggan"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="amount" label="Harga"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="admin" label="Admin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="total_amount" label="Total Harga"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="first_balance" label="Saldo Awal"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="last_balance" label="Saldo Akhir"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="printRequest()">
      <ion-icon name="print" class="mr-10"></ion-icon>
      Cetak
    </ion-button>

<!--    <ion-button expand="block" color="danger" (click)="backToList()">-->
<!--      <ion-icon name="arrow-back-circle" class="mr-10"></ion-icon>-->
<!--      Kembali-->
<!--    </ion-button>-->
  </div>
</ion-content>
