<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="custom">
        <h5>Histori Transaksi</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="slides ion-margin-bottom">
    <ion-item id="open-modal">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Dari Tanggal</ion-label>
      <ion-text slot="end">
        {{ formattedString }}
      </ion-text>
    </ion-item>

    <ion-item id="open-modal2">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Sampai Tanggal</ion-label>
      <ion-text slot="end">
        {{ formattedString2 }}
      </ion-text>
    </ion-item>
  </div>

  <div class="container">
    <h2>Histori Transaksi</h2>

    <ion-item lines="none" *ngFor="let val of trx; index as i;">
      <ion-grid (click)="goToDet(val)">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>{{ val.bill_id }} ({{ val.product_name }})</h4>
              <h6>{{ val.total_amount | number: '1.0' }} | {{ val.created_at }}</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ng-container *ngIf="val.status === '0'">
                <ion-icon slot="icon-only" name="checkmark-done-circle" class="trx-status"></ion-icon>
              </ng-container>

              <ng-container *ngIf="val.status === '3' || val.status === '5'">
                <ion-icon slot="icon-only" name="hourglass" class="trx-status-waiting"></ion-icon>
              </ng-container>

              <ng-container *ngIf="val.status === '2'">
                <ion-icon slot="icon-only" name="close-circle" class="trx-status-fail"></ion-icon>
              </ng-container>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime
          hourCycle="h23"
          [presentation]="selectedMode"
          [value]="dateValue"
          #datetime
          size="cover"
          (ionChange)="dateChanged(datetime.value)"
          (ionCancel)="showDatePicker = false;"
          show-default-buttons="true"
        >
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal2">
    <ng-template>
      <ion-content>
        <ion-datetime
          hourCycle="h23"
          [presentation]="selectedMode"
          [value]="dateValue2"
          #datetime
          size="cover"
          (ionChange)="dateChanged2(datetime.value)"
          (ionCancel)="showDatePicker2 = false;"
          show-default-buttons="true"
        >
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
