<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h3>Pilih Produk</h3>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="dismiss()">
        <ion-icon color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-item class="ion-no-margin ion-no-padding">
      <ion-searchbar
        showCancelButton="focus"
        cancelButtonText="Cancel"
        placeholder="Search"
        (ionInput)="filterList($event)">
      </ion-searchbar>
    </ion-item>
  </div>

  <div>
    <ion-row>
      <ion-col size="6" class="ion-no-padding" *ngFor="let data of productFileter" >
        <ion-card (click)="getProdItem(data)" >
          <ion-row class="ion-padding ">
            <ion-col size="3">
<!--              <img src="./assets/imgs/wallet_isaku.png" *ngIf="data.brand === 'Isaku Indomaret'" alt="Isaku Indomaret">-->
<!--              <img src="./assets/imgs/wallet_bukalapak.png" *ngIf="data.brand === 'Saldo Bukalapak'" alt="Saldo Bukalapak">-->
              <img src="./assets/imgs/wallet_dana.png" *ngIf="data.brand === 'DANA'" alt="Saldo DANA">
              <img src="./assets/imgs/wallet_gopay.png" *ngIf="data.brand === 'GO PAY'" alt="Saldo Gojek">
              <img src="./assets/imgs/wallet_linkaja.png" *ngIf="data.brand === 'LinkAja'" alt="Saldo LinkAja">
              <img src="./assets/imgs/wallet_ovo.png" *ngIf="data.brand === 'OVO'" alt="Saldo OVO">
              <img src="./assets/imgs/wallet_shoppee.png" *ngIf="data.brand === 'SHOPEE PAY'" alt="Saldo Shopee">
<!--              <img src="./assets/imgs/wallet_grab.png" *ngIf="data.brand === 'Saldo Grab'" alt="Saldo Grab">-->
            </ion-col>
            <ion-col size="9">
              <ion-label>
                <h3> {{ data.brand }} </h3>
<!--                <ion-text color="">-->
<!--                  <p> {{ data.brand }} </p>-->
<!--                </ion-text>-->
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
