<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Transaksi PLN</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-item>
      <ion-label position="fixed">Pilih Produk</ion-label>
      <ion-select [(ngModel)]="category" class="w100" (ionChange)="getProductData()">
        <ion-select-option value="PLNPRE001">Token</ion-select-option>
        <ion-select-option value="PLNPOS001">Bulanan</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">ID Pelanggan</ion-label>
      <ion-input [(ngModel)]="billID"></ion-input>
      <ion-icon
        icon="search"
        slot="end"
        color="primary"
        (click)="enterBillID()">
      </ion-icon>
    </ion-item>
  </div>

  <div>
    <ion-row>
      <ng-container *ngIf="showData && category === 'PLNPRE001'">
        <ion-col size="6" class="ion-no-padding" *ngFor="let data of products">
          <ion-card (click)="presentToastWithOptions(data)" >
            <ion-row class="ion-padding ">
              <ion-col size="12">
                <ion-label>
                  <h4> {{ data.name }} </h4>
                  <ion-text color="">
                    <p> {{ data.price }} </p>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>

</ion-content>
