<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Profile</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head-bg">
    <ion-avatar class="mt-25 default-avatar" *ngIf="!user.profile_pic">
      <ion-icon name="person" color="primary"></ion-icon>
    </ion-avatar>
    <ion-avatar class="mt-25 img-avatar">
      <img [src]="user.profile_pic" *ngIf="user.profile_pic" alt="profile" referrerpolicy="no-referrer" />
    </ion-avatar>
    <div class="ion-text-center" *ngIf="!user.profile_pic" style="margin-top: -55px;">
      <h2>{{ user.full_name }}</h2>
    </div>
    <div class="ion-text-center mt-25" *ngIf="user.profile_pic">
      <h2>{{ user.full_name }}</h2>
    </div>
  </div>

  <div class="container">
    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="user.email" label="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.full_name" label="Nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.phone_number" label="No Hand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.identity_id" label="No Identitas"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" readonly [(ngModel)]="user.bank_code" label="Kode merchant"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Kosongkan Jika Tidak Ingin Ganti Password</ion-label>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.old_password" label="Password Lama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.password" label="Psswrd Baru"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="ion-text-right" [(ngModel)]="user.password_con" label="Konfirmasi Passwrd"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="saveProfile()">
      <ion-icon name="save" class="mr-10"></ion-icon>
      Simpan
    </ion-button>
    <ion-button expand="block" (click)="goToPrinterSettings()" color="success">
      <ion-icon name="print" class="mr-10"></ion-icon>
      Setting Printer
    </ion-button>
  </div>
</ion-content>
