ion-header {
  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
}

ion-content {
  --background: linear-gradient(90deg, rgba(43, 90, 148, 1) 0%, rgba(45, 112, 229, 1) 35%, rgba(45, 112, 229, 1) 100%);

  .head-bg {
    background: #f1f5f8;
    padding: 10px 10px 40px 10px;
    border-radius: 0 0 28px 28px;
    border: none;

    h5, h2 {
      margin-top: -5px;
      margin-bottom: 0px;
      color: #6a64ff;
    }
  }

  .default-avatar {
    margin: auto;
    width: 110px;
    ion-icon {
      font-size: 110px;
      border: 1px solid #ccc;
    }
  }

  .img-avatar {
    margin: auto;
    width: 110px;
    height: 110px;
    //ion-icon {
    //  font-size: 110px;
    //  border: 1px solid #ccc;
    //}
  }

  .mt-80 {
    margin-top: 80px;
  }

  .mt-25 {
    margin-top: 25px;
  }
}

.container {
  color: #FFFFFF;
  margin-top: 25px;

  ion-item {
    --background: rgba(255, 255, 255, .1);
    padding: 0;
    color: #FFFFFF;
    font-weight: 600;

    ion-label {
      color: #FFFFFF;
    }
  }
}

.my-custom-class {
  color: red;
}

.trx-status {
  font-size: 34px;
  color: #2dd36f !important;
}

.trx-status-waiting {
  font-size: 34px;
  color: #ffd948 !important;
}

.trx-status-fail {
  font-size: 34px;
  color: #ed576b !important;
}

.mr-10 {
  margin-right: 10px;
}
