<ion-item *ngIf="paymentPage?.inqRes?.detail?.cust_name">
  <ion-input class="ion-text-right" readonly [(ngModel)]="paymentPage.inqRes.detail.cust_name" label="Nama Pelanggan"></ion-input>
</ion-item>

<ion-item *ngIf="paymentPage?.inqRes?.detail?.period">
  <ion-input class="ion-text-right" readonly [(ngModel)]="paymentPage.inqRes.detail.period" label="Periode"></ion-input>
</ion-item>

<ion-item *ngIf="paymentPage?.inqRes?.detail?.ref_provider">
  <ion-input class="ion-text-right" readonly [(ngModel)]="paymentPage.inqRes.detail.ref_provider" label="No Ref"></ion-input>
</ion-item>
