<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="sunny"></ion-icon>
      <ion-label> Pembayaran </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deposit">
      <ion-icon name="wallet"></ion-icon>
      <ion-label> Deposit </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trx">
      <ion-icon name="receipt"></ion-icon>
      <ion-label> Transaksi </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label> Profile </ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="trx-list">-->
<!--      <ion-icon name="bookmarks-outline"></ion-icon>-->
<!--      <ion-label> Transaction History </ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="deposit-hist">-->
<!--      <ion-icon name="cash-outline"></ion-icon>-->
<!--      <ion-label> Deposit History </ion-label>-->
<!--    </ion-tab-button>-->

  </ion-tab-bar>
</ion-tabs>
