<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Transaksi Pra Bayar</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-item *ngIf="category === 'PDAM001'">
      <ion-select [(ngModel)]="prodCode" class="w-100" placeholder="Pilih Produk">
        <ion-select-option
          *ngFor="let prod of products"
          value="{{ prod.code }}"
        >
          {{ prod.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">ID Pelanggan</ion-label>
      <ion-input [(ngModel)]="billID"></ion-input>
      <ion-icon
        icon="search"
        slot="end"
        color="primary"
        (click)="enterBillID()">
      </ion-icon>
    </ion-item>
  </div>

</ion-content>
