<ion-card>
<!--  <ion-card-header>-->
<!--    Cara Deposit-->
<!--  </ion-card-header>-->
<!--  <ion-card-content>-->
    <ion-list>
      <ion-item (click)="listClicked(data)" *ngFor="let data of vaList" [class]="data.css">
        <ion-label>{{ data.label }}</ion-label>
      </ion-item>
    </ion-list>
<!--  </ion-card-content>-->
</ion-card>
