ion-card {
  //width: 100%;
  //box-shadow: none;
  border-radius: 5px;
  //padding: 14px;
  background: rgba(255,255,255,.8);
}

ion-item, ion-list {
  --background: #FFF;
  padding: 0;
  color: #000000;
  font-weight: 600;

  ion-label {
    color: #000000;
  }
}

.nanti {
  --background: #FFF;
}

.activeList {
  --background: #59595a;
  ion-label {
    color: #FFFFFF;
  }
}
