ion-card {
  //width: 100%;
  //box-shadow: none;
  border-radius: 5px;
  //padding: 14px;
  background: rgba(255,255,255,.8);

  ion-card-header {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #0d0d0d;
    font-weight: bolder;
    font-size: 125%;
    border-bottom: 1px solid #666666;
  }

  ion-card-content, ul {
    color: #0d0d0d;
    margin: 10px 0 0 0;
  }

  li {
    margin-left: -10px;
  }

  .sub-header-text{
    font-size: 75%;
  }

}
