<ion-card>
  <ion-card-header>
    Cara Deposit
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>Transfer ke rek <strong>BCA</strong> Atau <strong>Mandiri</strong> yang tertera di bawah </li>
      <li>Input jumlah nominal deposit pada kolom deposit.</li>
      <li>Upload Bukti Transfer</li>
      <li>Konfirmasi ke nomor 0812 1983 6581 atau 0877 3452 2323</li>
    </ul>

    <div class="ion-text-center ion-margin-top">
      <h2> Bank BCA </h2>
      <strong>497 190 7678</strong> <br />
      PT Kilat Teknologi Mandiri
    </div>


    <div class="ion-text-center ion-margin-top">
      <h2> Bank Mandiri </h2>
      <strong>176 000 231 9992</strong> <br />
      PT Kilat Teknologi Mandiri
    </div>
  </ion-card-content>
</ion-card>
