<ion-content>

  <div class="logo-header">
    <img src="assets/imgs/kilat.png" />
  </div>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
        <ng-container *ngIf="email">
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors['required']">Email is required</span>
            <span *ngIf="email.errors['email']">Email is invalid</span>
          </div>
        </ng-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ng-container *ngIf="password">
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors['required']">Password is required</span>
          <span *ngIf="password.errors['minlength']">Password needs to be 6 characters</span>
        </div>
      </ng-container>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
    <br />
    <ion-button type="button" expand="block" color="light" fill="clear" class="btn-text1">
      Belum mempunyai akun?<br />
      Daftar di sini!
    </ion-button>

    <br />
    <ion-button type="button" expand="block" color="tertiary" (click)="loginByGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Login dengan Google
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Login dengan Apple
    </ion-button>
  </form>
</ion-content>
