ion-content {
  --padding-top: 10%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('/assets/imgs/gradient-bg-biru.jpg') 0 0/100% 100% no-repeat;
  //form {
  //  .input-group {
  //    .btn-text1 {
  //      --font-size: 100pt;
  //    }
  //  }
  //}
}
//.btn-text1 {
//  font-size: 8pt;
//}
.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo-header{
  margin-bottom: 25px;
}
img{
  width: 95%;
  margin: auto;
  display: block;
}
