ion-header {

  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #0d0d0d;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      color: #666666;
    }

    ion-avatar {
      --border-radius: 40%;
    }

    ion-card {
      width: 100%;
      //box-shadow: none;
      //border-radius: 14px;
      //padding: 14px;
      background: rgba(255,255,255,.8);
      margin: 0;
    }

    .sub-header-text{
      font-size: 75%;
    }

    .sub-header-icon{
      font-size: 25px;
    }
  }


}

ion-content {
  --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);

  .slides {
    background: #f1f5f8;
    padding: 4px 15px 20px 15px;
    border-radius: 0 0 28px 28px;
  }

  ion-card {
    //width: 100%;
    //box-shadow: none;
    //border-radius: 14px;
    //padding: 14px;
    background: rgba(255,255,255,.8);
    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow:  7px 7px 20px #dbdfe2,
      -7px -7px 20px #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .files {
      padding-top: 14px;
    }

    img {
      max-width: 100%; height: 47px;
    }

    .sub-header-text{
      font-size: 75%;
    }

  }

  .container {
    padding: 6px 20px;
    color: #FFFFFF;

    ion-icon {
      color: #FFFFFF;
    }

    ion-item {
      --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255,255,255,.66);
        }
      }

    }

    h2 {
      padding-bottom: 8px;
    }

  }

}

.avatar {
  font-size: 40px;
}

.bolder-text {
  font-weight: bolder;
  color: #0d0d0d;
}


.trx-status {
  font-size: 34px;
  color: #2dd36f !important;
}

.trx-status-waiting {
  font-size: 34px;
  color: #ffd948 !important;
}

.trx-status-fail {
  font-size: 34px;
  color: #ed576b !important;
}

ion-refresher-content {
  background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
}
