ion-header {

  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }
}

ion-content {
  --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);

  .slides {
    background: #f1f5f8;
    padding: 4px 15px 20px 15px;
    border-radius: 0 0 28px 28px;
  }

  ion-segment {
    background: #d7e2fa;
    height: 50px;
  }

  ion-card {
    //width: 100%;
    //box-shadow: none;
    border-radius: 5px;
    //padding: 14px;
    background: rgba(255,255,255,.8);

    ion-card-header {
      padding-bottom: 5px;
      padding-top: 5px;
      color: #0d0d0d;
      font-weight: bolder;
      font-size: 125%;
      border-bottom: 1px solid #666666;
    }

    ion-card-content, ul {
      color: #0d0d0d;
      margin: 10px 0 0 0;
    }

    li {
      margin-left: -10px;
    }

    .sub-header-text{
      font-size: 75%;
    }

  }

  .container {
    padding: 0 20px;
    color: #FFFFFF;

    ion-item{
      --background: transparent;
      --color: #000;
    }

    ion-button.image-depo {
      height: 100px;
      --background: #f5f6f9;
      box-shadow: #d0d0d0;
    }

    ion-icon{
      font-size: 100px;
    }

    ion-card-content, ul {
      color: #0d0d0d;
      padding: 0 10px 10px 10px;
    }

  }

}

.bolder-text {
  font-weight: bolder;
  color: #0d0d0d;
}

.mt-15 {
  margin-top: 15px;
}

.fs-10 {
  font-size: 10px;
}

.hydrated {
  color: #0d0d0d;
}

.segment-button-checked .hydrated {
  color: #3880ff;
}
