<!--<ion-header class="ion-no-border">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-button color="light">-->
<!--        <h3>Deposit</h3>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->

<!--    <ion-buttons slot="end">-->
<!--      <ion-button class="bordered" color="light" (click)="logout()">-->
<!--        <ion-icon color="custom" name="power"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <div class="slides ion-margin-bottom">
    <div class="mt-15">
      <!-- Default Segment -->
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value="manual">
          <ion-label class="fs-10">Konformari Manual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="auto">
          <ion-label class="fs-10">Konformari Otomatis</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <app-deposit-auto
      *ngIf="segment === 'auto'"
      [vaList]="vaList"
      [selectedBank]="selectedBank"
    ></app-deposit-auto>
    <app-deposit-manual *ngIf="segment === 'manual'"></app-deposit-manual>
  </div>

  <div class="container">
    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-label position="floating">Masukan Nominal Deposit Anda</ion-label>
            <ion-input [(ngModel)]="amountStr" inputmode="numeric" (ionInput)="amountInput($event)"></ion-input>
          </ion-item>

      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="segment === 'manual'">
      <div class="ion-text-center camera">
        <ion-button class="bordered image-depo" (click)="presentActionSheet()" *ngIf="!imgSave">
          <ion-icon color="custom" name="camera"></ion-icon>
        </ion-button>
        <img [src]="imgSave" *ngIf="imgSave" (click)="presentActionSheet()" />
      </div>

      <ion-button type="submit" expand="block" color="primary" (click)="saveDeposit()">
        Kirim Upload
      </ion-button>
    </ng-container>

    <ng-container *ngIf="segment === 'auto'">
      <ion-button type="submit" expand="block" color="primary" (click)="saveDepositAuto()">
        Kirim Request
      </ion-button>
    </ng-container>
  </div>

</ion-content>
