<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon name="apps" color="custom"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start" *ngIf="!user.profile_pic">
      <ion-icon name="person" color="custom" class="avatar"></ion-icon>
    </ion-avatar>
    <ion-avatar slot="start" *ngIf="user.profile_pic">
<!--      <ion-icon name="person" color="custom" class="avatar"></ion-icon>-->
      <img [src]="user.profile_pic" class="avatar" alt="profile" referrerpolicy="no-referrer" />
    </ion-avatar>
    <ion-label>
      <p>Hello,</p>
      <h3>{{ user.full_name }}</h3>
    </ion-label>

  </ion-item>

  <ion-item lines="none">
    <ion-card color="">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            Saldo <br />
            <span class="bolder-text">{{ user.current_balance | number: '1.0' }}</span>
          </ion-col>
          <ion-col size="3" class="ion-text-center" (click)="goToPage('deposit')">
            <ion-icon name="wallet" color="custom" class="sub-header-icon"></ion-icon>
            <br />
            <span class="sub-header-text">Deposit</span>
          </ion-col>
          <ion-col size="3" class="ion-text-center" (click)="goToPage('trx')">
            <ion-icon name="receipt" color="custom" class="sub-header-icon"></ion-icon>
            <br />
            <span class="sub-header-text">History</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="slides ion-margin-bottom">
    <ion-card>
      <ion-card-content>
        <ion-row class="ion-margin-bottom">
          <ion-col size="4" (click)="goToPayment('pln')">
            <div class="ion-text-center">
              <img src="./assets/imgs/listrik.svg" alt="Listrik">
              <br />
              <span class="sub-header-text">Listrik</span>
            </div>
          </ion-col>

          <ion-col size="4" (click)="goToPayment('PULSE001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/pulsa.svg" alt="pulsa">
              <br />
              <span class="sub-header-text">Pulsa</span>
            </div>
          </ion-col>

          <ion-col size="4" (click)="goToPayment('PAKETDATA001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/paket-data.svg" alt="paket-data.svg">
              <br />
              <span class="sub-header-text">Paket Data</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col size="4" (click)="goToPayment('EWALLET001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/e-money.svg" alt="Wallet">
              <br />
              <span class="sub-header-text">Wallet</span>
            </div>
          </ion-col>


          <ion-col size="4">
            <div class="ion-text-center" (click)="goToPayment('GAME001')">
              <img src="./assets/imgs/voucher-game.svg" alt="Game">
              <br />
              <span class="sub-header-text">Game</span>
            </div>
          </ion-col>

          <ion-col size="4" (click)="goToPayment('EMONEY001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/transfer-dana.svg" alt="E money">
              <br />
              <span class="sub-header-text">E money</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col size="4" (click)="goToPayment('PDAM001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/pdam.svg" alt="PDAM">
              <br />
              <span class="sub-header-text">PDAM</span>
            </div>
          </ion-col>


          <ion-col size="4" (click)="goToPayment('BPJS001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/bpjs.svg" alt="BPJS Kesehatan">
              <br />
              <span class="sub-header-text">BPJS KS</span>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="ion-text-center">
              <img src="./assets/imgs/cicilan.svg" alt="Cicilan">
              <br />
              <span class="sub-header-text">Cicilan</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <div class="ion-text-center">
              <img src="./assets/imgs/internet.svg" alt="Internet">
              <br />
              <span class="sub-header-text">Internet</span>
            </div>
          </ion-col>


          <ion-col size="4" (click)="goToPayment('TLKM001')">
            <div class="ion-text-center">
              <img src="./assets/imgs/telk-telp.svg" alt="Telkom Telephone">
              <br />
              <span class="sub-header-text">Telkom Telephone</span>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="ion-text-center">
              <img src="./assets/imgs/tv.svg" alt="TV Berbayar">
              <br />
              <span class="sub-header-text">TV Berbayar</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
<!--      </ion-slide>-->

<!--      <ion-slide>-->
<!--      </ion-slide>-->

<!--    </ion-slides>-->
  </div>

  <div class="container">

    <h2>Transaksi Terakhir</h2>

    <ng-container *ngIf="trx">
      <ion-item lines="none" *ngFor="let val of trx; index as i;">
        <ion-grid (click)="goToDet(val)">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="document"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                <h4>{{ val.bill_id }} ({{ val.product_name }})</h4>
                <h6>{{ val.total_amount | number: '1.0' }} | {{ val.created_at }}</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button color="light" fill="clear">
                <ng-container *ngIf="val.status === '0'">
                  <ion-icon slot="icon-only" name="checkmark-done-circle" class="trx-status"></ion-icon>
                </ng-container>

                <ng-container *ngIf="val.status === '3' || val.status === '5'">
                  <ion-icon slot="icon-only" name="hourglass" class="trx-status-waiting"></ion-icon>
                </ng-container>

                <ng-container *ngIf="val.status === '2'">
                  <ion-icon slot="icon-only" name="close-circle" class="trx-status-fail"></ion-icon>
                </ng-container>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="trx.length === 0">
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-label>
                <h4>Belum ada transaksi Hari ini</h4>
                <!--                <h6></h6>-->
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>

  </div>

</ion-content>
