<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="custom"></ion-back-button>
      <ion-button color="custom">
        <h5>Payment</h5>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" color="light" (click)="logout()">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head-bg">
    <ng-template [ngIf]="statePage === 'pay'">
      <ion-avatar class="mt-25">
        <ion-icon name="checkmark-done-circle" class="trx-status"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Sukses</h2>
        <br />
        <h5>{{ timeStamp_str }}</h5>
      </div>
    </ng-template>

    <ng-template [ngIf]="statePage === 'inq'">
      <ion-avatar class="mt-25">
        <ion-icon name="hourglass" class="trx-status-waiting"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Pending</h2>
        <br />
        <h5>{{ timeStamp_str }}</h5>
      </div>
    </ng-template>

    <ng-template [ngIf]="statePage === 'fail'">
      <ion-avatar class="mt-25">
        <ion-icon name="close-circle" class="trx-status-fail"></ion-icon>
      </ion-avatar>
      <div class="ion-text-center mt-65">
        <h2>Transaksi Gagal</h2>
        <br />
        <h5>{{ timeStamp_str }}</h5>
      </div>
    </ng-template>
  </div>

  <div class="container">
    <ion-item>
      <ion-label position="fixed">TX ID</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="inqRes.tx_id"></ion-input>
    </ion-item>

    <ion-item *ngIf="statePage === 'pay' && payRes.detail?.sn">
      <ion-label position="fixed">S.N</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="payRes.detail?.sn || posibleNull"></ion-input>
    </ion-item>

    <ion-item *ngIf="inqRes.detail">
      <ion-label position="fixed">Produk</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="inqRes.detail.product_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Bill ID</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="inqRes.bill_id"></ion-input>
    </ion-item>

    <app-payment-component
      *ngIf="paramsData?.product_code === 'PLNPOST001' ||
      paramsData.category === 'PDAM001' ||
      paramsData.category === 'PLNPRE001' ||
      paramsData.category === 'BPJS001'"
    ></app-payment-component>

    <ion-item>
      <ion-label position="fixed">Harga</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="amount_str"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Admin</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="admin_str"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Total Harga</ion-label>
      <ion-input class="ion-text-right" readonly [(ngModel)]="total_str"></ion-input>
    </ion-item>

    <ion-button expand="block" *ngIf="statePage === 'inq'" (click)="reqPay()">
      <ion-icon name="cash" class="mr-10"></ion-icon>
      Bayar
    </ion-button>

    <ion-button expand="block" *ngIf="statePage === 'pay'" color="success" (click)="printRequest()">
      <ion-icon name="print" class="mr-10"></ion-icon>
      Print
    </ion-button>

    <ion-button expand="block" *ngIf="statePage === 'pay'" (click)="backToHome()">
      <ion-icon name="arrow-back-circle" class="mr-10"></ion-icon>
      Kembali ke menu
    </ion-button>
  </div>
</ion-content>
